.about li {
    text-align: left;
}

.about img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 40px;
    margin-left: 20px;
    order: 2;
}

.about-intro {
    display: flex;
    justify-content: space-between;
}

main .about h2 {
    margin-top: 20px;
}