.card {
    width: 100%;
    height: 100%;
    padding: 0;
    position: relative;
}

.card-image {
    width: 100%;
    height: auto;
    z-index: -1;
    transition: opacity 0.3s ease;
    display: block;
    object-fit: cover;
}

.card-image.hovered {
    opacity: 0.8;
}

.card-text {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    bottom: 0;
    font-size: 2.5vw;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px;
}

.card-text h2 {
    font-weight: 500;
    font-size: 3vw;
    margin-bottom: 0px;
}

.card-text p {
    margin-top: 0px;
}

@media (min-width: 320px) {
    .card {
        width: 100%;
    }

    .card-text {
        font-size: 2vw;
    }

    .card-text h2 {
        font-size: 2.5vw;
    }
}

@media (min-width: 767px) {
    .card {
        width: 50vw;
    }

    .card-text {
        font-size: 1vw;
    }

    .card-text h2 {
        font-size: 1.5vw;
    }
}

@media (min-width: 1060px) {
    .card-text {
        font-size: 1vw;
    }

    .card-text h2 {
        font-size: 1.25vw;
    }
}