.navbar {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.navbar-hamburger img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    align-self: flex-start;
    order: 1;
}

.navbar-logo {
    width: 150px;
    height: auto;
    order: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-75%);
}

.navbar-links li {
    list-style: none;
    text-align: left;
    transition: color 0.3 ease;

    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.navbar-links.open li {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.navbar button {
    width: 30px;
    height: 30px;
}