.navbar {
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
}

.navbar.modal-open {
    visibility: hidden;
}

.navbar-hamburger, .navbar-logo, .navbar-links {
    position: absolute;
}

.navbar-hamburger, .navbar-moon {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

.navbar-hamburger:hover, .navbar-moon:hover {
    color: black;
}

.navbar-hamburger {
    top: 25px;
    left: 15px;
    cursor: pointer;
    transition: color 0.3s ease;
}

#root.night .navbar-hamburger, #root.night .navbar-moon {
    color: #8a8a8a;
}

#root.night .navbar-hamburger:hover, #root.night .navbar-moon:hover {
    color: #acacac;
}

.navbar-hamburger img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    align-self: flex-start;
    order: 1;
}

.navbar-logo {
    width: 150px;
    height: auto;
    order: 2;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
}

.navbar-links {
    top: 8%;
    left: 0;
    padding-left: 15px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #8a8a8a;
    transform: translateY(100%);
    position: fixed;
    z-index: 2;
}

#root.night .navbar {
    background-color: black;
}

#root.night .navbar-links {
    background-color: black;
}

#root.night .navbar-links a::after {
    background-color: #8a8a8a;
}

.navbar-moon {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 15px;
    transition: color 0.3s ease;
}

.navbar-links.open, .navbar-links.open li {
    margin-top: 10px;
    transform: translateY(0);
    opacity: 1;
}

.navbar-links, .navbar-links li {
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.navbar-links li {
    list-style: none;
    text-align: left;
    transform: translateY(50px);
}

.navbar-links a {
    position: relative;
    transition: color 0.3s ease;
}

.navbar-links a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.3s ease;
}

.navbar-links a:hover::after {
    width: 100%;
}

@media (min-width: 1060px) {
    .navbar-logo {
        left: 10px;
        transform: none;
        position: relative;
        order: 0;
    }

    .navbar-links {
        display: flex;
        justify-content: flex-start;
        top: 10px;
        position: relative;
        background-color: unset;
    }

    .navbar-links li {
        margin-left: 30px;
    }

    .navbar-links, .navbar-links li {
        transform: translateY(0);
        opacity: 1;
        transition: none;
    }

    .navbar-hamburger {
        display: none;
    }

    .navbar-links a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.5);
        position: relative;
        transition: color 0.3s ease;
        z-index: 0;
    }
    
    .navbar-links a::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.5);
        transition: background-color 0.3s ease;
    }
    
    .navbar-links a:hover {
        color: black;
    }
    
    .navbar-links a:hover::after {
        width: 100%;
        background-color: black;
    }
}