.projects {
    width: 100%;
    margin: 0;
    padding: 0;
}

.card.projects {
    padding: 0;
    width: 85%;
}

.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

@media (min-width: 768px) {
    .card.projects {
      width: 45%;
    }
  }