.project {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.project img {
    width: 100%;
    height: auto;
    transition: transform 0.2s;
}

.project-image:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.project-images {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.project-images img {
    max-width: 85%;
}

.project-images .project-image-box img {
    max-width: 100%;
}

@media (max-width: 767px) {
    .project-images {
        flex-wrap: wrap;
    }
}

.project-image-div {
    display: flex;
    justify-content: center;
}