.project-image-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.project-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    position: relative;
}

.project-image-box img {
    width: 80%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.project-image-box button {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 15px;
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
}

.project-image-box button:hover {
    color: black;
}