.project {
    text-align: left;
}

.project img {
    width: 100%;
    height: auto;
    transition: transform 0.2s;
}

.project-image:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.project-images {
    display: flex;
    justify-content: center;
    gap: 10px;
}